mat-form-field {
  width: 100%;
  font-family: Consolas;
}

mat-sidenav-content {
  height: 100vh;
}

.card-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px;
  max-height: 300px;
  border: 1px solid black;
  p {
    margin: 0;
  }
}
